.post-footer {
  margin-top: $margin-primary;
}
.post-nav {
  margin-top: $margin-m-1;
  display: flex;
  flex-wrap: wrap;
}
.post-nav .prev-item {
  display: flex;
  text-align: left;
  min-width: 50%;
  align-items: center;
}
.post-nav .prev-item .arrow-left {
  margin-right: $margin-s-2;
}
.post-nav .next-item {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  min-width: 50%;
  align-items: center;
}
.post-nav .next-item .arrow-right {
  margin-left: $margin-s-2;
}
