<div class="post-footer">
    <div class="h-line-primary"></div>
    <nav class="post-nav">
        <div class="prev-item">
           <%if (page.prev) {%>
                <div class="icon arrow-left"></div>
                <div class="post-link">
                    <a href="<%=url_for(page.prev.path)%>">Prev</a>
                </div>
            <%}%>
        </div>
        <div class="next-item">
            <%if (page.next) {%>
                <div class="icon arrow-right"></div>
                <div class="post-link">
                  <a href="<%=url_for(page.next.path)%>">Next</a>  
                </div>  
            <%}%>
        </div>
    </nav>
</div>
