// PIXEL
$px = 0.0625rem

// LINE
$line-primary = 4px
$line-secondary = 2px
$line-third = 1px

// ICON 
$icon-size = 20*$px

// MARGIN
$margin-primary = 56*$px
$margin-l-2 = 48*$px
$margin-l-1 = 32*$px
$margin-l-0 = 24*$px
$margin-m-2 = 16*$px
$margin-m-1 = 12*$px
$margin-m-0 = 8*$px
$margin-s-2 = 4*$px
$margin-s-1 = 2*$px
$margin-s-0 = 1*$px


// FONT WEIGHT
$font-weight-light = 300
$font-weight-regular = 400
$font-weight-medium = 500
$font-weight-semibold = 600
$font-weight-bold = 700

// FONT SIZE
$font-size-header = 14*$px
$font-size-footer = 12*$px

$font-size-heading-h1 = 28*$px
$font-size-heading-h2 = 24*$px
$font-size-heading-h3 = 18*$px
$font-size-heading-h4 = 16*$px
$font-size-heading-h5 = 16*$px
$font-size-heading-h6 = 16*$px

$font-size-body = 16*$px

$font-size-code = 14*$px

$font-size-post-date = 14*$px
$font-size-year-title = 28*$px
$font-size-post-tag = 12*$px

$font-size-blockquote-footer = 12*$px

// LINE HEIGHT
$line-height-header = 20*$px
$line-height-footer = 20*$px

$line-height-heading-h1 = 36*$px
$line-height-heading-h2 = 32*$px
$line-height-heading-h3 = 24*$px
$line-height-heading-h4 = 20*$px
$line-height-heading-h5 = 20*$px
$line-height-heading-h6 = 20*$px

$line-height-body = 24*$px

$line-height-code = 16*$px

$line-height-post-date = 20*$px
$line-height-year-title = 36*$px
$line-height-post-tag = 16*$px


