.footer
    margin-top $margin-primary
    border $line-secondary $color-text-primary solid
    text-style(footer)

    .footer-text
        margin-top $margin-l-1
        margin-bottom $margin-primary
        


