// COLOR
$color-text-primary = #002A56
$color-text-secondary = #9FAAB5
$color-text-third = #CED6DF
$color-text-fourth = #EDF0F3
$color-background = #FFFCF2

$color-code-background = #F8F6F0
$color-code-highlight = #0177AA
$color-code-default = #7e7e7e
$color-code-marker = #BABABA

// CODE HIGHLIGHT
@import "../highlight/solarized-light.styl"