// COLOR
$color-text-primary = #ffffff
$color-text-secondary = #AFAFAF
$color-text-third = #838383
$color-text-fourth = #414141
$color-background = #000000

$color-code-background = #AFAFAF
$color-code-highlight = #60CFFF
$color-code-default = #F4F4F4
$color-code-marker = #BDBDBD

// CODE HIGHLIGHT
@import "../highlight/rainbow.styl"