// COLOR
$color-text-primary = #000000
$color-text-secondary = #BABABA
$color-text-third = #DDDDDD
$color-text-fourth = #F4F4F4
$color-background = #ffffff

$color-code-background = #F4F4F4
$color-code-highlight = #0177AA
$color-code-default = #7e7e7e
$color-code-marker = #BABABA

// CODE HIGHLIGHT
@import "../highlight/solarized-light.styl"