/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.highlight {
  color: #333;
  background: #f8f8f8;
}
.highlight .code .comment,
.highlight .code .quote {
  color: #998;
  font-style: italic;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .subst {
  color: #333;
  font-weight: bold;
}
.highlight .code .number,
.highlight .code .literal,
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .tag .attr {
  color: #008080;
}
.highlight .code .string,
.highlight .code .doctag {
  color: #d14;
}
.highlight .code .title,
.highlight .code .section,
.highlight .code .selector-id {
  color: #900;
  font-weight: bold;
}
.highlight .code .subst {
  font-weight: normal;
}
.highlight .code .type,
.highlight .code .class .title {
  color: #458;
  font-weight: bold;
}
.highlight .code .tag,
.highlight .code .name,
.highlight .code .attribute {
  color: #000080;
  font-weight: normal;
}
.highlight .code .regexp,
.highlight .code .link {
  color: #009926;
}
.highlight .code .symbol,
.highlight .code .bullet {
  color: #990073;
}
.highlight .code .built_in,
.highlight .code .builtin-name {
  color: #0086b3;
}
.highlight .code .meta {
  color: #999;
  font-weight: bold;
}
.highlight .code .deletion {
  background: #fdd;
}
.highlight .code .addition {
  background: #dfd;
}
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .strong {
  font-weight: bold;
}
