/*

Google Code style (c) Aahan Krish <geekpanth3r@gmail.com>

*/
.highlight {
  color: #000;
  background: #fff;
}
.highlight .code .comment,
.highlight .code .quote {
  color: #800;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .section,
.highlight .code .title,
.highlight .code .name {
  color: #008;
}
.highlight .code .variable,
.highlight .code .template-variable {
  color: #660;
}
.highlight .code .string,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo,
.highlight .code .regexp {
  color: #080;
}
.highlight .code .literal,
.highlight .code .symbol,
.highlight .code .bullet,
.highlight .code .meta,
.highlight .code .number,
.highlight .code .link {
  color: #066;
}
.highlight .code .title,
.highlight .code .doctag,
.highlight .code .type,
.highlight .code .attr,
.highlight .code .built_in,
.highlight .code .builtin-name,
.highlight .code .params {
  color: #606;
}
.highlight .code .attribute,
.highlight .code .subst {
  color: #000;
}
.highlight .code .formula {
  background-color: #eee;
  font-style: italic;
}
.highlight .code .selector-id,
.highlight .code .selector-class {
  color: #9b703f;
}
.highlight .code .addition {
  background-color: #baeeba;
}
.highlight .code .deletion {
  background-color: #ffc8bd;
}
.highlight .code .doctag,
.highlight .code .strong {
  font-weight: bold;
}
.highlight .code .emphasis {
  font-style: italic;
}
