/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/
.highlight {
  background: #f6f6ae url("school-book.png");
  border-top: solid 2px #d2e8b9;
  border-bottom: solid 1px #d2e8b9;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal {
  color: #059;
  font-weight: bold;
}
.highlight .code .highlight,
.highlight .code .subst {
  color: #3e5915;
}
.highlight .code .string,
.highlight .code .title,
.highlight .code .section,
.highlight .code .type,
.highlight .code .symbol,
.highlight .code .bullet,
.highlight .code .attribute,
.highlight .code .built_in,
.highlight .code .builtin-name,
.highlight .code .addition,
.highlight .code .variable,
.highlight .code .template-tag,
.highlight .code .template-variable,
.highlight .code .link {
  color: #2c009f;
}
.highlight .code .comment,
.highlight .code .quote,
.highlight .code .deletion,
.highlight .code .meta {
  color: #e60415;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal,
.highlight .code .doctag,
.highlight .code .title,
.highlight .code .section,
.highlight .code .type,
.highlight .code .name,
.highlight .code .selector-id,
.highlight .code .strong {
  font-weight: bold;
}
.highlight .code .emphasis {
  font-style: italic;
}
