.icon {
  display: block;
  background-color: $color-text-primary;
  width: $icon-size;
  height: $icon-size;
}
.arrow-up {
  -webkit-mask-image: url("../icon/arrow-up.svg");
  mask-image: url("../icon/arrow-up.svg");
}
.arrow-left {
  -webkit-mask-image: url("../icon/arrow-left.svg");
  mask-image: url("../icon/arrow-left.svg");
}
.arrow-right {
  -webkit-mask-image: url("../icon/arrow-right.svg");
  mask-image: url("../icon/arrow-right.svg");
}
