<div class="tag-cloud">
  <div class="tag-list">
    <%site.tags.forEach(tag=>{%>
      <span class="post-tag">
        <a href="<%-url_for(tag.path)%>">
          <%=tag.name%>
        </a>
      </span> 
    <%})%> 
  </div>
</div>