/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/
.highlight {
  color: #000;
  background: #fff;
}
.highlight .code .subst,
.highlight .code .title {
  font-weight: normal;
  color: #000;
}
.highlight .code .comment,
.highlight .code .quote {
  color: #808080;
  font-style: italic;
}
.highlight .code .meta {
  color: #808000;
}
.highlight .code .tag {
  background: #efefef;
}
.highlight .code .section,
.highlight .code .name,
.highlight .code .literal,
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .type,
.highlight .code .selector-id,
.highlight .code .selector-class {
  font-weight: bold;
  color: #000080;
}
.highlight .code .attribute,
.highlight .code .number,
.highlight .code .regexp,
.highlight .code .link {
  font-weight: bold;
  color: #00f;
}
.highlight .code .number,
.highlight .code .regexp,
.highlight .code .link {
  font-weight: normal;
}
.highlight .code .string {
  color: #008000;
  font-weight: bold;
}
.highlight .code .symbol,
.highlight .code .bullet,
.highlight .code .formula {
  color: #000;
  background: #d0eded;
  font-style: italic;
}
.highlight .code .doctag {
  text-decoration: underline;
}
.highlight .code .variable,
.highlight .code .template-variable {
  color: #660e7a;
}
.highlight .code .addition {
  background: #baeeba;
}
.highlight .code .deletion {
  background: #ffc8bd;
}
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .strong {
  font-weight: bold;
}
