/*
   
   Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
   based on dark.css by Ivan Sagalaev
   
*/
.highlight {
  background: #3f3f3f;
  color: #dcdcdc;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .tag {
  color: #e3ceab;
}
.highlight .code .template-tag {
  color: #dcdcdc;
}
.highlight .code .number {
  color: #8cd0d3;
}
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .attribute {
  color: #efdcbc;
}
.highlight .code .literal {
  color: #efefaf;
}
.highlight .code .subst {
  color: #8f8f8f;
}
.highlight .code .title,
.highlight .code .name,
.highlight .code .selector-id,
.highlight .code .selector-class,
.highlight .code .section,
.highlight .code .type {
  color: #efef8f;
}
.highlight .code .symbol,
.highlight .code .bullet,
.highlight .code .link {
  color: #dca3a3;
}
.highlight .code .deletion,
.highlight .code .string,
.highlight .code .built_in,
.highlight .code .builtin-name {
  color: #cc9393;
}
.highlight .code .addition,
.highlight .code .comment,
.highlight .code .quote,
.highlight .code .meta {
  color: #7f9f7f;
}
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .strong {
  font-weight: bold;
}
