/* 吹き出し */
.balloon_l,
.balloon_r {
  margin: 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.balloon_r {
  justify-content: flex-end;
}
.faceicon img {
  width: 128px;
  height: auto;
}
.balloon_r .faceicon {
  margin-left: 25px;
}
.balloon_l .faceicon {
  margin-right: 25px;
}
.balloon_r .faceicon {
  order: 2 !important;
}
.says {
  max-width: 640px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #f0f0f0;
  box-sizing: border-box;
  margin: 0 !important;
  line-height: 1.5;
}
.says p {
  margin: 8px 0 0 !important;
}
.says p:first-child {
  margin-top: 0 !important;
}
.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
}
.balloon_l .says:after {
  left: -26px;
  border-right: 22px solid #f0f0f0;
}
.balloon_r .says:after {
  right: -26px;
  border-left: 22px solid #f0f0f0;
}
/* コラム */
.column {
  position: relative;
  box-sizing: border-box;
  margin: 48px 0 0 0;
  max-width: 800px;
  background: #fff;
  padding: 10px 10px 10px 10px;
  border: 1px solid #010101;
}
.column::before {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  background: #010101;
  color: #fff;
  content: attr(title);
  font-weight: bold;
  padding: 7px 12px;
  top: -30px;
  left: -1px;
  border-radius: 15px 15px 0 0;
  font-size: 16px;
}
/* ぺジネーション */
.pagination-bk {
  float: left;
  width: 33.33333%;
  text-align: left;
}
.pagination-index {
  float: left;
  width: 33.33333%;
  text-align: center;
}
.pagination-fd {
  float: left;
  width: 33.33333%;
  text-align: right;
}
/* 目次 */
ol.toc {
  list-style: disc;
}
ol.toc-child {
  list-style: circle;
}
li.toc-item {
  margin: 0.5em;
}
