<div class="post-head">
    <div class="post-info">
        <div class="post-title">
            
            <% if (page.title) {%>
                <%= page.title %>
            <% } else {%>
                *Untitled
            <% } %>
            
        </div>
    </div>
    <div class="h-line-primary"></div>
</div>