.post-head
    margin-top $margin-primary
    
    .post-info
        width 100%
        display flex
        flex-direction column

        .post-title
            margin-bottom $margin-m-1
            text-style(heading-h1)

        .post-date
            text-style(post-date)
    
    .post-img
        margin-top $margin-l-1

