.post-footer
    margin-top $margin-primary

    a 
        underline-motion(link)

.post-nav
    margin-top $margin-m-1
    display flex
    flex-wrap wrap
    text-style(header)

    .prev-item
        display flex
        text-align left
        min-width 50%
        align-items center
        .arrow-left
            margin-right $margin-s-2

    .next-item
        display flex
        flex-direction row-reverse
        text-align right
        min-width 50%
        align-items center
        .arrow-right
            margin-left $margin-s-2
        